In [3]:
# Removing the duplicate values : 1st you need to discover the duplicate values via duplicate() method
import pandas as pd
data=pd.read_csv('duplicates.csv',encoding='latin1')
print(data.to_string())

             Name  Age   Join Date  Salary
0        John Doe   25  2021-06-15   50000
1      Jane Smith   30  2020-11-23   60000
2        John Doe   25  2021-06-15   50000
3    Mark Johnson   35  2019-02-12   70000
4     Emily Davis   28  2022-01-05   55000
5        John Doe   25  2021-06-15   50000
6      Jane Smith   30  2020-11-23   60000
7   Michael Brown   40  2018-09-17   80000
8     Emily Davis   28  2022-01-05   55000
9        John Doe   25  2021-06-15   50000
10    Susan White   33  2017-03-22   65000
11   Mark Johnson   35  2019-02-12   70000
12      David Lee   38  2021-07-19   75000
13    Susan White   33  2017-03-22   65000
14  Michael Brown   40  2018-09-17   80000
15      David Lee   38  2021-07-19   75000
16  Jessica Green   27  2023-05-03   52000
17  Jessica Green   27  2023-05-03   52000
18   George Black   50  2015-04-01   90000
19   George Black   50  2015-04-01   90000

In [7]:
# Returns true for every row that is duplicate  otherwise return false
import pandas as pd
data=pd.read_csv('duplicates.csv',encoding='latin1')
# print(data.duplicated())# this considers the first value to be original while the next same value to be a duplicate
# This duplicated creates a boolean matrix based upon occurrence

# remove the duplicate from the data set via drop_duplicates()
data.drop_duplicates(inplace=True)
print(data.to_string())
# Therefore we get the below output without any duplicate values

             Name  Age   Join Date  Salary
0        John Doe   25  2021-06-15   50000
1      Jane Smith   30  2020-11-23   60000
3    Mark Johnson   35  2019-02-12   70000
4     Emily Davis   28  2022-01-05   55000
7   Michael Brown   40  2018-09-17   80000
10    Susan White   33  2017-03-22   65000
12      David Lee   38  2021-07-19   75000
16  Jessica Green   27  2023-05-03   52000
18   George Black   50  2015-04-01   90000