In [19]:
# Wrong data : 
import pandas as pd
data=pd.read_csv('dirty_data_practice.csv',encoding='latin1')
print(data.to_string())

    ID     Name      Age                Email     Join Date
0    1    Alice       25    alice@example.com    2020-01-15
1    2      Bob   Twenty          bob@example  Invalid Date
2    3  Charlie       30  charlie@example.com    2021/03/25
3    4    David       -5               david@    2019-30-02
4    5      Eve       40       eveexample.com           NaN
5    6    Frank      NaN    frank@example.com    2018-06-10
6    7    Grace       28               grace@    2020-07-15
7    8   Hannah       34   hannah@example.com       Invalid
8    9      Ian       21          ian@example    2021/11/23
9   10     Jack       18             jack.com    2019-10-25
10  11     Kara       22     kara@example.com    2022-11-30
11  12     Liam       33                liam@    2021/12/01
12  13     Mona       27      monaexample.com  Wrong Format
13  14     Nina  Unknown                nina@    2019-02-29
14  15    Oscar       29        oscar@example    2018/01/10
15  16     Paul       35     paul@example.com    2017-07-07
16  17    Quinn  Invalid               quinn@    2016-08-15
17  18   Rachel       24   rachel@example.com    2015/09/20
18  19    Steve       31     steveexample.com    2014-10-10
19  20     Tina       19     tina@example.com    2013-05-15
<class 'pandas.core.series.Series'>

In [41]:
# here we will set the age column on the 3rd column manually
import pandas as pd
data=pd.read_csv('dirty_data_practice.csv',encoding='latin1')
data['Age'].loc[3]=5
print(data.to_string())
# in a small dataset we can easily find and replace values
print("hello")

    ID     Name      Age                Email     Join Date
0    1    Alice       25    alice@example.com    2020-01-15
1    2      Bob   Twenty          bob@example  Invalid Date
2    3  Charlie       30  charlie@example.com    2021/03/25
3    4    David        5               david@    2019-30-02
4    5      Eve       40       eveexample.com           NaN
5    6    Frank      NaN    frank@example.com    2018-06-10
6    7    Grace       28               grace@    2020-07-15
7    8   Hannah       34   hannah@example.com       Invalid
8    9      Ian       21          ian@example    2021/11/23
9   10     Jack       18             jack.com    2019-10-25
10  11     Kara       22     kara@example.com    2022-11-30
11  12     Liam       33                liam@    2021/12/01
12  13     Mona       27      monaexample.com  Wrong Format
13  14     Nina  Unknown                nina@    2019-02-29
14  15    Oscar       29        oscar@example    2018/01/10
15  16     Paul       35     paul@example.com    2017-07-07
16  17    Quinn  Invalid               quinn@    2016-08-15
17  18   Rachel       24   rachel@example.com    2015/09/20
18  19    Steve       31     steveexample.com    2014-10-10
19  20     Tina       19     tina@example.com    2013-05-15
hello

/var/folders/cz/jms94_kj7v552q9spmvhms3m0000gn/T/ipykernel_4817/985594651.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Age'].loc[3]=5
/var/folders/cz/jms94_kj7v552q9spmvhms3m0000gn/T/ipykernel_4817/985594651.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'].loc[3]=5

In [47]:
# For larger data sets: Now here we will look through all the values in the Age column
# first we will clean the na values 
import pandas as pd
data=pd.read_csv('dirty_data_practice.csv')
data["Age"]=pd.to_numeric(data["Age"],errors="coerce")
# print(data)
# now we will drop these NaN values using the dropna() function
data.dropna(subset=["Age"],inplace=True)
# print(data.to_string())

# Now for example we had the data of the people above 21 years of legal age
data=data[data["Age"]>21]# this line of code means it will diretly fill the data for the required scenario 
print(data.to_string())

    ID     Name   Age                Email     Join Date
0    1    Alice  25.0    alice@example.com    2020-01-15
2    3  Charlie  30.0  charlie@example.com    2021/03/25
4    5      Eve  40.0       eveexample.com           NaN
6    7    Grace  28.0               grace@    2020-07-15
7    8   Hannah  34.0   hannah@example.com       Invalid
10  11     Kara  22.0     kara@example.com    2022-11-30
11  12     Liam  33.0                liam@    2021/12/01
12  13     Mona  27.0      monaexample.com  Wrong Format
14  15    Oscar  29.0        oscar@example    2018/01/10
15  16     Paul  35.0     paul@example.com    2017-07-07
17  18   Rachel  24.0   rachel@example.com    2015/09/20
18  19    Steve  31.0     steveexample.com    2014-10-10

In [63]:
# For larger data sets: Now here we will look through all the values in the Age column
# first we will clean the na values 
import pandas as pd
data=pd.read_csv('dirty_data_practice.csv')
data["Age"]=pd.to_numeric(data["Age"],errors="coerce")
# print(data)
# now we will drop these NaN values using the dropna() function
data.dropna(subset=["Age"],inplace=True)
# print(data.to_string())


# For larger data sets looping is the best method
# Now for filtering the age by iterating easily
for i in data.index:
    if data.loc[i,"Age"]>30 or data.loc[i,"Age"]<0:
        data.drop(i,inplace=True)
print(data.to_string())        

# Now for example we had the data of the people above 21 years of legal age

    ID     Name   Age                Email     Join Date
0    1    Alice  25.0    alice@example.com    2020-01-15
2    3  Charlie  30.0  charlie@example.com    2021/03/25
6    7    Grace  28.0               grace@    2020-07-15
8    9      Ian  21.0          ian@example    2021/11/23
9   10     Jack  18.0             jack.com    2019-10-25
10  11     Kara  22.0     kara@example.com    2022-11-30
12  13     Mona  27.0      monaexample.com  Wrong Format
14  15    Oscar  29.0        oscar@example    2018/01/10
17  18   Rachel  24.0   rachel@example.com    2015/09/20
19  20     Tina  19.0     tina@example.com    2013-05-15